---
const weatherRes = await fetch(
  "https://api.open-meteo.com/v1/forecast?latitude=52.374&longitude=4.8897&hourly=temperature_2m&forecast_days=1"
);

const weatherData = await weatherRes.json(); 

// Pak huidige uur 
const currentHour = new Date().getHours();
const currentTemp = weatherData.hourly.temperature_2m[currentHour];

import Header from "../components/header.astro";
import Horecastadsdelen from "../components/template-horeca.astro";
---

<html lang="nl">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<title>Amsterdam Horeca</title>
	<link rel="stylesheet" href="/styling/main.css"/>
	<link rel="stylesheet" href="/styling/homepage.css"/>
</head>
<body>
	<Header />
	<section class="hero">
		<div class="hero-content">
			<div class="hero-left">
				<div class="location-tag"><div class="location-dot"></div>Zoek per stadsdeel</div>
				<h2 class="hero-title">Opzoek naar een cafe,<br>bekijk ze hier!</h2>
				<p class="hero-sub">47 Geopend · zojuist bijgewerkt</p>
			</div>
			<div class="hero-weather">
				<p class="hero-weather-temp">⛅ {currentTemp} °C</span>
				<p class="hero-weather-meta">Amsterdam </p>
			</div>
		</div>
	</section>
	<Horecastadsdelen/>
</body>	
<script>
</script>
</html>

