:root {
    /* colors */
    --background-theme: #faf8f5;

    --header-bg: rgba(255, 255, 255, 0.85);

    --color-text: #ffffff;
    --color-text-muted: #5a4e3c;
    --color-text-red: #c2185b;

    --color-surface: #f0ece6;
    --color-border: rgba(0, 0, 0, 0.07);

    /* gradiant logo + buttons */
    --gradient-primary: linear-gradient(135deg, #ff6b35, #c2185b);

    --dropdown-bg: rgba(0, 0, 0, 0.8);
    --dropdown-hover: rgba(255, 255, 255, 0.1);

}

/* base */
body {
    background: var(--background-theme);
    color: var(--color-text);
    background-attachment: fixed;
    font-family: 'Syne', sans-serif;
    margin: 0;
    padding: 0;
}

a {
    color: var(--color-text);
    text-decoration: none;
}

/* HEADER */
header {
    padding: 10px 16px;
    background: var(--header-bg);
    border-bottom: 1px solid var(--color-border);
    backdrop-filter: blur(12px);
}

nav {
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 2.2rem;
    font-weight: 700;
    letter-spacing: -0.03em;
    background: var(--gradient-primary);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.header-buttons {
    display: flex;
    gap: 1rem;
}

header p,
button.saved {
    border-radius: 999px;
    border: none;
    margin: 0;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-weight: 600;
}

header p {
    color: var(--color-text-muted);
    background-color: var(--color-surface);
}

button.saved {
    color: var(--color-text);
    background: var(--gradient-primary);
}

/* chat styling */
.saved-container {
    position: relative;
    display: inline-block;
}

/* dropdown */
.saved-dropdown {
    position: absolute;
    top: 120%;
    right: 0;

    width: 250px;
    max-height: 300px;
    overflow-y: auto;

    background: var(--dropdown-bg);
    backdrop-filter: blur(10px);

    border-radius: 15px;
    padding: 1rem;

    opacity: 0;
    transform: translateY(-10px);
    pointer-events: none;

    transition: all 0.2s ease;
}

/* open state */
.saved-dropdown.open {
    opacity: 1;
    z-index: 2;
    transform: translateY(0);
    pointer-events: auto;
}

.saved-dropdown a {
    display: block;
    padding: 0.5rem;
    border-radius: 10px;
}

.saved-dropdown a:hover {
    background: var(--dropdown-hover);
}